$def with (message = None)
$var h2: Convert form
$var cssfiles: static/style.css

<p>
If you want to convert your starred items into Firefox bookmarks, this form below is made for this.
</p>

<p>
The Google Starred file can be exported in the Reader settings. It should be named <tt>starred-items-jas.json</tt> or something similar.
Just upload your JSON file with the form below and download the converted bookmarks file.
</p>

$if message:<p class="error">$message</p>

<form class="upload" name="upload" method="POST" enctype="multipart/form-data">

  <label for="myfile">Convert your file here:</label>
  <br/>

  <input type="file" name="myfile" />
  <br/>

  <input class="submit" type="submit" value="Convert"/>

</form>

