$def with (content)
<html>
<head>
<title>My site -
$if 'title' in content:
    $content.title
$else:
    Default title here
</title>
<link rel="stylesheet" href="static/style.css" type="text/css" media="screen" charset="utf-8"/>
</head>
<body>

  <div id="header">

    <h1><a href="/">Convert Google starred items into Firefox bookmarks</a></h1>

    <div id="nav">
    <ul>
    <li><a href="about">About</a></li>
    </ul>
    </div>

  </div>

  <div id="content">
    <h2>
      $if 'h2' in content: $content.h2
    </h2>
    $:content
  </div>

<div id="footer">
<footer>
sam - 2012
</footer>
</div>

</body>
</div>
</html>
